<!DOCTYPE html>
<html data-th-replace="~{layout :: frag_layout(title=#{frag_a_accueil},
                                                content= ~{::main}, addRessources=~{})} ">

<body>

<main>
    <div>
        <h1>Article</h1>
    </div>
    <section>
        <div>
            <h2>Filtres :</h2>
            <div>
                <input type="search">
            </div>
            <div>
                <label>Catégories :</label>
                <select></select>
            </div>

        </div>
        <div></div>
    </section>
</main>
</body>
</html>