<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layout :: frag_layout(
									title='Login',
									content=~{:: main},
									addRessources=~{})}">



<body>
<main>


<form data-th-action="@{/login}" method="post">



    <ul class="">
        <li>
            <label for="username" >Login</label>
            <input id="username" name="username" value="@email.fr">
        </li>
        <li>
            <label for="password" >Password</label>
            <input id="password" name="password" type="password">
        </li>
        <li>
            <button type="submit">Login</button>

        </li>
    </ul>
</form>
</main>
</body>
</html>